In [19]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import  LabelEncoder

In [20]:
df = pd.read_csv('ObesityDataSet.csv')
df

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [21]:
#Preprocessing Awal
display(df.duplicated().sum())
df = df.drop_duplicates()

np.int64(24)

In [22]:
df.duplicated().sum()

np.int64(0)

In [23]:
# Outlier Remove
def remove_outliers_zscore(dataframe, column, threshold=3):
    mean = dataframe[column].mean()
    std = dataframe[column].std()
    z_scores = (dataframe[column] - mean) / std
    return dataframe[np.abs(z_scores) < threshold]
df = remove_outliers_zscore(df, 'Age')
df = remove_outliers_zscore(df, 'FCVC')
df = remove_outliers_zscore(df, 'NCP')
df = remove_outliers_zscore(df, 'CH2O') 
df = remove_outliers_zscore(df, 'FAF')
df = remove_outliers_zscore(df, 'TUE')
df.shape

(2064, 17)

In [24]:
# Label Encodeer
df_label = df.copy()
le = LabelEncoder()
df_label["Gender"] = le.fit_transform(df_label["Gender"])
df_label["SMOKE"]=  le.fit_transform(df_label["SMOKE"])
df_label["FAVC"]=  le.fit_transform(df_label["FAVC"])
df_label["SCC"] = le.fit_transform(df_label["SCC"])
df_label["CALC"] = le.fit_transform(df_label["CALC"])
df_label["MTRANS"] = le.fit_transform(df_label["MTRANS"])
df_label["CAEC"] = le.fit_transform(df_label["CAEC"])
df_label['family_history_with_overweight'] = le.fit_transform(df_label['family_history_with_overweight'])
df_label["NObeyesdad"] = le.fit_transform(df_label["NObeyesdad"])

df_label

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,2,0,2.000000,0,0.000000,1.000000,3,3,1
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,2,1,3.000000,1,3.000000,0.000000,2,3,1
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,2,0,2.000000,0,2.000000,1.000000,1,3,1
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,2,0,2.000000,0,2.000000,0.000000,1,4,5
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,2,0,2.000000,0,0.000000,0.000000,2,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,2,0,1.728139,0,1.676269,0.906247,2,3,4
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,2,0,2.005130,0,1.341390,0.599270,2,3,4
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,2,0,2.054193,0,1.414209,0.646288,2,3,4
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,2,0,2.852339,0,1.139107,0.586035,2,3,4
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,2,0,2.863513,0,1.026452,0.714137,2,3,4

In [25]:
df_label.to_csv('DataCleanLabel.csv', index=False)

In [26]:
#One Hot Encoder Only
df_onehot = df.copy() 
col = ['Gender','SMOKE', 'FAVC', 'SCC', 'CAEC', 'CALC', 'MTRANS', 'family_history_with_overweight', 'NObeyesdad']
df_onehot = pd.get_dummies(df_onehot, columns=col, drop_first=True, dtype=int)
df_onehot

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE,Gender_Male,SMOKE_yes,...,MTRANS_Motorbike,MTRANS_Public_Transportation,MTRANS_Walking,family_history_with_overweight_yes,NObeyesdad_Normal_Weight,NObeyesdad_Obesity_Type_I,NObeyesdad_Obesity_Type_II,NObeyesdad_Obesity_Type_III,NObeyesdad_Overweight_Level_I,NObeyesdad_Overweight_Level_II
0,21.000000,1.620000,64.000000,2.0,3.0,2.000000,0.000000,1.000000,0,0,...,0,1,0,1,1,0,0,0,0,0
1,21.000000,1.520000,56.000000,3.0,3.0,3.000000,3.000000,0.000000,0,1,...,0,1,0,1,1,0,0,0,0,0
2,23.000000,1.800000,77.000000,2.0,3.0,2.000000,2.000000,1.000000,1,0,...,0,1,0,1,1,0,0,0,0,0
3,27.000000,1.800000,87.000000,3.0,3.0,2.000000,2.000000,0.000000,1,0,...,0,0,1,0,0,0,0,0,1,0
4,22.000000,1.780000,89.800000,2.0,1.0,2.000000,0.000000,0.000000,1,0,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,3.0,3.0,1.728139,1.676269,0.906247,0,0,...,0,1,0,1,0,0,0,1,0,0
2107,21.982942,1.748584,133.742943,3.0,3.0,2.005130,1.341390,0.599270,0,0,...,0,1,0,1,0,0,0,1,0,0
2108,22.524036,1.752206,133.689352,3.0,3.0,2.054193,1.414209,0.646288,0,0,...,0,1,0,1,0,0,0,1,0,0
2109,24.361936,1.739450,133.346641,3.0,3.0,2.852339,1.139107,0.586035,0,0,...,0,1,0,1,0,0,0,1,0,0
2110,23.664709,1.738836,133.472641,3.0,3.0,2.863513,1.026452,0.714137,0,0,...,0,1,0,1,0,0,0,1,0,0

In [27]:
df_onehot.to_csv("DataCleanOneHot.csv", index=False)